<nav class="navbar navbar-expand-sm bg-dark">
  <!-- Links -->
  <h2 class="text-light ml-5">Routing Example</h2>
  <ul class="navbar-nav ml-auto mr-5">
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/first-component" routerLinkActive="active">First Component</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/second-component">Second Component</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/third-component">Third Component</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" routerLink="/lazy-loaded-module">Lazy Loaded Module</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
